*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(37, 66, 125);
    width: 100vw;
    overflow-x: hidden;
    color: white;
    font-family: sans-serif;
}

.navbar{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 10vh;
    background-color: rgba(38, 37, 44, 0.914);
    z-index: 1;
    box-shadow: 0px 0 30px rgba(38, 37, 44, 0.914) ;
    transition: background-color 1s;
    z-index: 1000;
}
.desktop{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    min-width: fit-content;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
.nav-links a{
    color: white;
    text-decoration: none;
    font-family:  sans-serif;
    font-size: 1.3rem;
    padding: 0 10%;
    transition: 0.5s all;
    padding: 5px 25px;
    border-radius: 20px;
}
.nav-links a:hover{
background-color: #2facddc7;
}

.navbar .desktop img{
    height: 90%;
}

.navbar .mobile{
    display: none;
    align-items: center;
    
}

.navbar .mobile img{
    height: 90%;
}

.navbar .mobile2{
    position: relative;
    left: -100%;
    transition: all 1s;
}
.navbar .mobile2 .dropdown{
    display: flex;
    flex-direction: column;
    gap: 15%;
    justify-content: center;
    align-items: center;
    background-color: rgba(25, 25, 29, 0.964);
    width: 100vw;
    height: 90vh;
}

.mobile2 a{
    color: white;
    text-decoration: none;
    font-family:  sans-serif;
    font-size: 1.3rem;
    padding: 0 10%;
    transition: 0.5s all;
    padding: 5px 25px;
    border-radius: 20px;
}

.mobile2 a:hover{
background-color: #2facddc7;
}

.menu-icon {
    width: 40px;
    height: 40px;
    position: relative;
    cursor: pointer;
    left: -3%;
  }
  .menu-icon:before {
    content: "";
    position: absolute;
    /*background: rgb(255, 255, 255, 0.1);*/
    width: 60px;
    height: 60px;
    top: -10px;
    left: -10px;
    opacity: 1;
    border-radius: 5px;
    transition: opacity 0.2s ease-in;
  }
  .menu-icon .bar {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #fff;
    border-radius: 2px;
    left: 0;
    transform-origin: 50% 50%;
    top: 50%;
    transform: tralnslateY(-50%);
    transition: top 300ms ease-in, transform 300ms ease-in 300ms,
      opacity 0ms 300ms;
  }
  .bar:before,
  .bar:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 2px;
    left: 0;
    transform-origin: 0% 50%;
    transition: top 300ms ease-in, transform 300ms ease-in 300ms,
      opacity 0ms 300ms;
  }
  .bar:before {
    top: -10px;
  }
  .bar:after {
    top: 10px;
  }
  .menu-open .bar:before,
  .menu-open .bar:after {
    top: 0;
    width: 50%;
  }
  .menu-open .bar:before {
    transform: rotate3d(0, 0, 1, 45deg);
  }
  
  .menu-open .bar:after {
    transform: rotate3d(0, 0, 1, -45deg);
  }


.landing{
    background-image: url("./images/online-exam.jpg");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

.landing::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.463);
}
.clip-layer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(38, 37, 44, 0.914);
    clip-path: polygon(0 20vh, 100% 20vh, 75% 80vh, 0% 80vh);
    padding-right: 7%;
    width: 70vw;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    filter: drop-shadow(0px 10px 5px rgba(0,0,0,0.1))
}

.main-heading{
    font-size: max(4.05vh, 5.5vw);
    color: white;
    position: relative;
    text-shadow: 2px 2px 5px black, -2px -2px 5px black;
}

.register-btn{
    background-color: #2FADDD;
    margin-top: 20px;
    padding: 20px 40px ;
    font-size: 1.3em;
    border-radius: 32px;
    border: none;
}

.about{
    width: 100vw;
    min-height: max-content;
    height: 100vh;
    background-color: #26252C;
    box-sizing: border-box;
    padding: 10vh 20vw;
}

.about fieldset{
    border-radius: 40px;
    font-size: max(2.25vh,1.8vw);
    padding: 50px ;
    box-shadow: 0 0 30px black;
    text-align: justify;
}

.heading{
    font-size: min(11.5vw,9vh);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.syllabus{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

.syllabus select{
    background: #80808033;
    border: 1px solid rgb(150 150 150 / 79%);
    color: #fff;
    max-width: 90px;
    font-size: 1rem;
    /* border-radius: 5px; */
    height: 1.5em;
    /* position: relative;
    bottom: 5px; */
}

.syllabus select option{
    background: #2EADDD;
    /* line-height: 110%;
    border-bottom: 1px solid grey; */
}
/* .syllabus select option::after ::before{
    content: "";
    background: transparent;
} */

.syllabus select option:hover{
    background-color: white;
}

.perks{
    background-image: url("./images/Solutions_ExamAdmin_hero_1.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.perks::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(12 58 75 / 78%);
}

.P-heading{
    position: relative;
    z-index: 1;
    color: #2EADDD;
    text-shadow: 0 0 15px black;
}

#per{
    margin-top: min(120px,20%);
    position: relative;
    z-index: 1;
    max-width: 95vw;
    padding-left: 10%;
    text-align: justify;
}

#per li{
    margin-bottom: 15px;
}


@media screen and (max-width: 950px) {
    
    /* .register-btn{
        padding: 10px 30px;
        font-size: min(6vh,4vw);
    } */
    .navbar .mobile{
        display: flex;
    }
    .desktop{
        display: none;
    }
}

@media screen and (max-width:600px) {
    .clip-layer{
        width: 90vw;
        clip-path: polygon(0 25vh, 95vw 25vh, 75vw 60vh, 0% 60vh); 
        height: 80vh;
    }
    .about{
        padding:5vh 5vw;
    }
    .about fieldset{
        padding: 35px;
    }
}